:root {
    --wrapper-padding: 10px;
    --default-flex-gap: 10px;
    --white-100: rgb(255, 255, 255);
    --gray-100: rgb(240, 240, 240);
    --gray-200: rgb(212, 212, 212);
    --gray-250: rgb(183, 183, 183);
    --gray-300: rgb(116, 116, 116);
    --black-100: rgb(27, 27, 29);
    --red-100: rgb(183, 0, 14);
    --red-200: rgb(242, 74, 59);
    --green-100: rgb(25, 161, 91);
    --blue-100: rgb(84, 146, 204);
    --blue-200: rgb(84, 140, 238);
    --blue-300: rgb(0, 31, 83);
    --blue-400: rgb(60, 75, 94);
    --blue-500: rgb(218, 232, 245);
    --blue-600: rgb(0, 0, 255);
    --purple-100: rgb(100, 46, 146);
    --peach-100: rgb(250, 225, 209);
    --orange-100: rgb(233, 112, 52);
}

body {
    width: 100%;
    height: 100%;
    background: var(--white-100);
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.text-center {
    text-align: center;
}

/* Flexbox */
.flex {
    display: flex;
}

.flex-right {
    justify-content: flex-end;
}

.flex-center {
    justify-content: space-between;
    justify-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
    border: 1px solid #999999;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.flex-10,
.flex-16,
.flex-20,
.flex-33,
.flex-40,
.flex-50,
.flex-66,
.flex-80,
.flex-100 {
    flex: 1 1 calc(var(--width-percentage, 100%) - 6px);
}

.flex-10 {
    --width-percentage: 10%;
}

.flex-16 {
    --width-percentage: 16%;
}

.flex-20 {
    --width-percentage: 20%;
}

.flex-33 {
    --width-percentage: 33.3%;
}

.flex-40 {
    --width-percentage: 40%;
}

.flex-50 {
    --width-percentage: 50%;
}

.flex-66 {
    --width-percentage: 66.6%;
}

.flex-80 {
    --width-percentage: 80%;
}

.flex-100 {
    --width-percentage: 100%;
}

.flex-gap-5 {
    gap: 5px;
}

.flex-gap-10 {
    gap: 10px;
}

.flex-gap-20 {
    gap: 20px;
}

.flex-padding-10 {
    padding: 10px;
}

.flex-margin-10 {
    margin: 10px;
}

/* Buttons */
.btn {
    padding: 4px 12px;
    border: 1px solid var(--black-100);
    cursor: pointer;
}

.btn-default {
    background: var(--white-100);
    color: var(--black-100);
}

.btn-skyblue {
    background: var(--blue-500);
    color: var(--black-100);
}

.btn-blue {
    background: var(--blue-100);
    color: var(--white-100);
}

.btn-navy {
    background: var(--blue-300);
    color: var(--white-100);
}

.btn-red {
    background: var(--red-100);
    color: var(--white-100);
}

.btn-gray {
    background: var(--gray-300);
    color: var(--white-100);
}

.btn-peach {
    background: var(--peach-100);
    color: var(--black-100);
}

.btn-transparent {
    background: transparent;
    color: var(--black-100);
}

.btn-orange {
    background: var(--orange-100);
    color: var(--white-100);
}

/* Width Fix */
.width-fix-100 {
    width: 100px;
}

/* Form */
.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid #333333;
}

.form-group label {
    height: 30px;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
    background-color: #EEEEEE;
}

.form-group input,
.form-group select {
    height: 30px;
    border: 1px solid var(--gray-200);
    margin-left: 10px;
}

.form-group select {
    height: 36px;
    flex: 1;
}

.form-control {
    flex: 1;
    width: 100%;
}

input.form-control,
input.form-control[disabled],
textarea.form-control[disabled] {
    background: var(--gray-100);
    height: 30px;
}

textarea.form-control[disabled] {
    padding: 4px 8px;
}

label.form-control {
    height: 30px;
    font-weight: bold;
}

select.form-control {
    height: 36px;
}

.fix-width-33 {
    width: 33%;
}

/* Panels */
.panel-body {
    display: flex;
}

.left-panel,
.right-panel {
    gap: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #999999;
    margin: 10px;
    padding: 5px;
}
